

<div class = "post_container">
	<div class = "row" id = "post_title">
		<li id="wrap_left"></li>
		<li id="title_text"><%= post.title %></li>
		<li id="wrap_right"></li>
	</div>
	<div class = "post_details">
		<div class = "row">
			<%= post.author %>
		</div>
		<div class = "row">
			<%= post.text %>
		</div>
	</div>
</div>

