// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_box{
	padding: 20px;
	background-color: #EAEAEA;
	margin: 10px;
}
