// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

$title_padding: 5px;
		
#nav_connect{
	background-color: #EAEAEA;
	padding: 10px;
	margin: 0 18px 0 18px;
}

#post_banner{
	background-color: $blue-hue; 
	border-radius: 10px 10px 0  0 ;
	margin: 0 5px 0 5px;
	padding: $title_padding;
	#wrap_left {
		float:left;
	}
	#wrap_right{
		float: right;
	}
	text-align: center;
	//text-align: center;
	li{
		list-style-type: none;
		display: inline-block;
	}
}

li#wrap_left:before {
	//text-align: left;
	content: "";
 	position: absolute;
 	display: block;
	margin-top: $title_padding;
	margin-left: -$title_padding;
 	border: 1.5em solid $blue-hue;
	border-radius: 20px;
 	z-index: -1;
	
}
li#wrap_right:after {
	content: "";
 	position: absolute;
 	display: block;
	float: left;
	margin-top: $title_padding;
	margin-left: -$title_padding * 8.7;
 	border: 1.5em solid $blue-hue;
	border-radius: 20px ;
 	z-index: -1;
}

.post_details{
	margin: 0 18px 0 18px;
	background-color: #EAEAEA;
	padding: 20px;
}

