// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

$title_padding: 5px;

.to_top {
	position: fixed;
	width: 0; 
	height: 0; 
	border-right: 25px solid transparent; 
	border-left: 25px solid transparent; 
	border-bottom: 60px solid $blue-hue;
	bottom: 4em;
	opacity: 0;
	cursor: pointer;
	
}
.margins{
	text-align:center;
	padding-top: 10em;
	left: 0;
	.left{
		width: 0; 
		height: 0; 
		border-top: 25px solid transparent; 
		border-right: 60px solid $blue-hue; 
		border-bottom: 25px solid transparent;
	
	
	}
	.right{
		width: 0; 
		height: 0; 
		border-top: 25px solid transparent; 
		border-left: 60px solid $blue-hue; 
		border-bottom: 25px solid transparent;
	}

		
}
		
#nav_connect{
	background-color: white;
	padding: 10px;
	margin: 0 18px 0 18px;
}

#post_banner{
	background-color: $blue-hue; 
	border-radius: 10px 10px 0  0 ;
	margin: 0 5px 0 5px;
	padding: $title_padding;
  box-shadow: 0 16px 0 -13px #B1C6D0;
	#wrap_left {
		float:left;
	}
	#wrap_right{
		float: right;
	}
	text-align: center;
	//text-align: center;
	li{
		list-style-type: none;
		display: inline-block;

		    a {
		      color: white;
		      text-decoration: none;
		    }
	}
}

li#wrap_left:before {
	//text-align: left;
	content: "";
 	position: absolute;
 	display: block;
	margin-top: $title_padding;
	margin-left: -$title_padding;
 	border: 1.5em solid $blue-hue;
	border-radius: 20px;
 	z-index: -2;
  box-shadow: 0 7px 0 -2px #B1C6D0;
	
}
li#wrap_right:after {
	content: "";
 	position: absolute;
 	display: block;
	float: left;
	margin-top: $title_padding;
	margin-left: -$title_padding * 8.6;
 	border: 1.5em solid $blue-hue;
	border-radius: 20px ;
 	z-index: -2;
  box-shadow: 0 7px 0 -2px #B1C6D0;
}

.post_details{
	margin: 0 18px 0 18px;
	background: linear-gradient(#FEFABC, white);
	padding: 20px;
  position: relative;
  z-index: -1;
}

